/* GENERAL */
.debug {
  background-color: rgba(202, 31, 31, 0.5);
  border: 1px solid black;
  min-height: 80px;
}

.gp-container {
  width: 60%;
  margin: 0 auto;
}

/* JUMBOTRON */
.gp-jumbotron {
  height: 500px;
}
